.td-background-set {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
}
.td-flex {
  text-align: center;
  /* display: flex;
      align-items: center;
      justify-content: center; */
}

.td-discription p {
  margin: auto;
  max-width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 768px) {
  .list-container {
    overflow-y: auto;
  }
  .table-container {
    width: 800px;
  }
}
