.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  box-shadow: 0 1px 3px -2px black;
  position: relative;
  z-index: 2;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo img {
  margin-left: 1vw;
  height: 4vw;
  width: 4vw;
}
.nav-logo p {
  margin-top: 1vw;
  color: #171717;
  font-size: 2vw;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3vw;
  font-size: 1.6vw;
  font-weight: 500;
  color: #626262;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu hr {
  margin: 0;
  border: none;
  width: 80%;
  height: 3px;
  background: #fc2f2f;
}

.nav-logo-cart {
  margin-right: 1vw;
  display: flex;
  align-items: center;
  gap: 3vw;
}

.nav-logo-cart button {
  min-width: 7vw;
  min-height: 3vw;
  outline: none;
  border: 1px solid #7a7a7a;
  color: #515151;
  border-radius: 75px;
  font-size: 1.8vw;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
  padding: 3px;
}
.nav-logo-cart button:active {
  background-color: #f3f3f3;
}

.nav-cart-count {
  width: 1.6vw;
  height: 1.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2.5vw;
  margin-left: -4vw;
  border-radius: 50%;
  font-size: 14px;
  background-color: red;
  color: white;
}
.cart-img {
  height: 2.5vw;
  width: 2.5vw;
}
.nav-dropdown {
  display: none;
}
@media (max-width: 1024px) {
  .navbar {
    padding: 10px 4vw;
  }
  .nav-logo p {
    font-size: 18px;
  }
  .nav-logo-cart button {
    width: 7vw;
    height: 3vw;
    outline: none;
    border: 1px solid #7a7a7a;
    color: #515151;
    border-radius: 75px;
    font-size: 1.4vw;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
  }
  .cart-img {
    height: 3vw;
    width: 3.2vw;
  }
}

@media (max-width: 800px) {
  .nav-dropdown {
    display: block;
    font-size: 30px;
    rotate: -90deg;
    margin-top: 5px;
    transition: 0.5s;
  }
  .nav-menu {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    /* height: 0; */
    transition: opacity 0.5s, visibility 0.5s, height 0.5s; /* Combined transition properties */
    width: 100%;
    position: absolute;
    background-color: white;
    justify-content: center;
    top: 50px;
    left: 0;
  }

  .nav-menu-visible {
    /* display: flex; */
    visibility: visible;
    opacity: 1;
  }
  .nav-dropdown.open {
    transform: rotate(90deg);
  }
}

@media (max-width: 500px) {
  .navbar {
    gap: 0;
    padding: 10px 15px;
  }
  .nav-logo img {
    width: 35px;
    height: 25px;
  }
  .nav-logo p {
    font-size: 18px;
  }
  .nav-menu {
    height: 70px;
    top: 50px;
  }
  .nav-logo-cart {
    display: flex;
    align-items: center;
    /* gap: 3vw; */
  }
  .nav-logo-cart button {
    width: 15vw;
    height: 8vw;
    outline: none;
    border: 1px solid #7a7a7a;
    color: #515151;
    border-radius: 75px;
    font-size: 4vw;
    font-weight: 700;
    background-color: white;
    cursor: pointer;
    
  }
  .nav-cart-count {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:-20px;
    margin-left: -4vw;
    border-radius: 50%;
    font-size: 12px;
    background-color: red;
    color: white;
  }
  .cart-img {
    height: 6vw;
    width: 7vw;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 6vw;
    font-size: 4vw;
    font-weight: 500;
    color: #626262;
  }
  
  .nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
  }
}
