.shop-slider-container {
  max-width: 100vw;
  height: 70vh;
}
/* .shop-slider {
  width: 100%;
  height: 100%;
} */

.shop-slider img {
  width: 100%;
  height: 65vh;
  /* object-position: 50% 20px; */
  object-fit: cover;
}

@media(max-width:800px){
  .shop-slider-container {
    max-width: 100vw;
    height: 60vh;
  }
  /* .shop-slider {
    width: 100%;
    height: 100%;
  } */
  
  .shop-slider img {
    width: 100%;
    height: 52vh;
    /* object-position: 50% 20px; */
    object-fit: cover;
  } 
}