.form-item-container:hover {
  background-color: rgb(218, 219, 219);
}

@media (max-width: 767px) {
  .image-container {
    width: 40px;
    height: auto;
  }
}

@media(max-width: 500px) {
  .image-container {
   display: none;
  }
}